{% extends 'imdb/base.html' %}

{% block title %}Search{% endblock %}

{% block content %}
<div class="row">
    <h3>Search: "{{ search }}"</h3>
    <h4>Found movies: {{ movies|length }}</h4>
    {% for m in movies %}
    <div class="row my-2">
            <div class="col-1">
                <img src="{{ m.img.url }}" class="img-fluid">
            </div>
            <div class="col-5">
                <h4><a href="{{ m.get_absolute_url }}">{{ m }} ({{ m.year }})</a></h4>
            </div>
            <div class="col-3">
                <h5><a href="{{ m.director.get_absolute_url }}">{{ m.director }}</a></h5>
            </div>

            <div class="col-2">
                <h2>{{ m.rating }}</h2>
            </div>

    </div>
    {% endfor %}
    <hr>
    <h4>Found directors: {{ directors|length }}</h4>
    {% for d in directors %}
    <div class="row my-2 py-1" style="background-color:#ccc">
            <div class="col-1">
                <img src="{{ d.img.url }}" class="img-fluid">
            </div>
            <div class="col-5">
                <h4><a href="{{ d.get_absolute_url }}">{{ d }}</a></h4>
            </div>
            <div class="col-2">
                <h2>{{ d.avg_rating }}</h2>
            </div>

            <div class="col-3">
                <p>movies: {{ d.movies.all | length }}</p>
                {% if d.best_movie %}
                <p>best: <a href="{{ d.best_movie.get_absolute_url }}"> {{ d.best_movie }}</a></p>
                {% endif %}
            </div>

    </div>
    {% endfor %}
</div>


{% endblock %}